In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [5]:
train = pd.read_csv('train.csv')
pd.set_option("display.max_columns", None)
train.head()

,encounter_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_13,tel_14,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,178974720,61754247,Caucasian,Male,[80-90),?,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
1,111231666,110498427,AfricanAmerican,Female,[50-60),?,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,NO,1
2,134751624,91719990,Caucasian,Male,[80-90),?,1,1,7,5,MC,?,85,2,15,0,0,1,486,V45,585,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,>30,1
3,254196636,1897758,Caucasian,Female,[70-80),?,3,1,1,3,?,?,24,2,24,0,0,0,715,250,272,7,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
4,432617750,34636617,Asian,Female,[80-90),?,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,1

In [6]:
train.dtypes

encounter_id                 int64
patient_id                   int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
tel_1                       object
tel_2                       object
tel_3                        int64
tel_4                        int64
tel_5                        int64
tel_6                        int64
tel_7                        int64
tel_8                        int64
tel_9                       object
tel_10                      object
tel_11                      object
tel_12                       int64
tel_13                      object
tel_14                      object
tel_15                      object
tel_16                      object
tel_17                      object
tel_18                      object
tel_19                      object
tel_20                      object
tel_21                      object
tel_22                      object
tel_23                      object
tel_24                      object
tel_25                      object
tel_26                      object
tel_27                      object
tel_28                      object
tel_29                      object
tel_30                      object
tel_41                      object
tel_42                      object
tel_43                      object
tel_44                      object
tel_45                      object
tel_46                      object
tel_47                      object
tel_48                      object
tel_49                      object
diabetesMed                  int64
dtype: object

In [7]:
train.replace("?", np.nan, inplace = True)
train.head()

,encounter_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_13,tel_14,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,178974720,61754247,Caucasian,Male,[80-90),NaN,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
1,111231666,110498427,AfricanAmerican,Female,[50-60),NaN,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,NO,1
2,134751624,91719990,Caucasian,Male,[80-90),NaN,1,1,7,5,MC,NaN,85,2,15,0,0,1,486,V45,585,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,>30,1
3,254196636,1897758,Caucasian,Female,[70-80),NaN,3,1,1,3,NaN,NaN,24,2,24,0,0,0,715,250,272,7,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
4,432617750,34636617,Asian,Female,[80-90),NaN,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,1

In [14]:
value = train['race'].value_counts()

value

Caucasian          11553
AfricanAmerican     2543
Hispanic             278
Other                219
Asian                103
Name: race, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder #import the LabelEncoder from sklrean library
le= LabelEncoder() #create the instance of LabelEncoder
train['gender'] = le.fit_transform(train['gender']) #apply LabelEncoding of country column
train.head()

,encounter_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_13,tel_14,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,178974720,61754247,Caucasian,1,[80-90),NaN,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
1,111231666,110498427,AfricanAmerican,0,[50-60),NaN,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,NO,1
2,134751624,91719990,Caucasian,1,[80-90),NaN,1,1,7,5,MC,NaN,85,2,15,0,0,1,486,V45,585,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,>30,1
3,254196636,1897758,Caucasian,0,[70-80),NaN,3,1,1,3,NaN,NaN,24,2,24,0,0,0,715,250,272,7,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
4,432617750,34636617,Asian,0,[80-90),NaN,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,1

In [9]:
# replace null values by the most frequent values
train["race"].replace(np.nan, train['race'].value_counts(). index[0], inplace=True)

In [10]:
train['age'] = train['age'].apply(lambda i: (i[1:3]))
train.head()

,encounter_id,patient_id,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_13,tel_14,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,178974720,61754247,Caucasian,1,80,NaN,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
1,111231666,110498427,AfricanAmerican,0,50,NaN,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,NO,1
2,134751624,91719990,Caucasian,1,80,NaN,1,1,7,5,MC,NaN,85,2,15,0,0,1,486,V45,585,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,>30,1
3,254196636,1897758,Caucasian,0,70,NaN,3,1,1,3,NaN,NaN,24,2,24,0,0,0,715,250,272,7,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
4,432617750,34636617,Asian,0,80,NaN,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,1

In [13]:
train = train[pd.to_numeric(train['age'], errors='coerce').notnull()]
train['age'] = train['age'].astype('int')
train['age'] = train['age'].apply(lambda i: i+5)
train1 = train.drop(['encounter_id','patient_id','weight','tel_13', 'tel_14'], axis = 1)
train1.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,Caucasian,1,90,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
1,AfricanAmerican,0,60,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,NO,1
2,Caucasian,1,90,1,1,7,5,MC,NaN,85,2,15,0,0,1,486,V45,585,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,>30,1
3,Caucasian,0,80,3,1,1,3,NaN,NaN,24,2,24,0,0,0,715,250,272,7,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,>30,1
4,Asian,0,90,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,1

In [14]:
train1["tel_1"].replace(np.nan, train1['tel_1'].value_counts(). index[0], inplace=True)

In [15]:
train1["tel_2"] = train1["tel_2"].fillna(method='ffill')

In [16]:
def namechng(val):
    for i in val:
        if i == 'No':
            val.replace("No", 0, inplace = True)
        elif i == 'Steady':
            val.replace("Steady", 1, inplace = True)
        elif i == 'Up':
            val.replace("Up", 2, inplace = True)
        else:
            val.replace("Down", 3, inplace = True)

In [17]:
namechng(train1['tel_15'])

In [18]:
namechng(train1['tel_16'])

In [19]:
namechng(train1['tel_17'])

In [20]:
namechng(train1['tel_18'])

In [21]:
namechng(train1['tel_19'])

In [22]:
namechng(train1['tel_20'])

In [23]:
namechng(train1['tel_21'])

In [24]:
namechng(train1['tel_22'])

In [25]:
namechng(train1['tel_23'])

In [26]:
namechng(train1['tel_24'])

In [27]:
namechng(train1['tel_25'])

In [28]:
namechng(train1['tel_26'])

In [29]:
namechng(train1['tel_27'])

In [30]:
namechng(train1['tel_28'])

In [31]:
namechng(train1['tel_29'])

In [32]:
namechng(train1['tel_30'])

In [33]:
namechng(train1['tel_41'])

In [34]:
namechng(train1['tel_42'])

In [35]:
namechng(train1['tel_43'])

In [36]:
namechng(train1['tel_44'])

In [37]:
namechng(train1['tel_45'])

In [38]:
namechng(train1['tel_46'])

In [39]:
namechng(train1['tel_47'])

In [40]:
train1.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,Caucasian,1,90,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Ch,>30,1
1,AfricanAmerican,0,60,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,No,NO,1
2,Caucasian,1,90,1,1,7,5,MC,Orthopedics,85,2,15,0,0,1,486,V45,585,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,Ch,>30,1
3,Caucasian,0,80,3,1,1,3,MC,Orthopedics,24,2,24,0,0,0,715,250,272,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Ch,>30,1
4,Asian,0,90,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,No,NO,1

In [41]:
def convert_to_int(word):
    word_dict = { 'No':0, 'Ch':1}
    return word_dict[word]

train1['tel_48'] = train1['tel_48'].apply(lambda x : convert_to_int(x))

In [42]:
train1.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,Caucasian,1,90,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,>30,1
1,AfricanAmerican,0,60,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,NO,1
2,Caucasian,1,90,1,1,7,5,MC,Orthopedics,85,2,15,0,0,1,486,V45,585,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,>30,1
3,Caucasian,0,80,3,1,1,3,MC,Orthopedics,24,2,24,0,0,0,715,250,272,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,>30,1
4,Asian,0,90,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NO,1

In [43]:
def convert_to_int(word):
    word_dict = {'NO':0, '>30':1, '<30': 2}
    return word_dict[word]

train1['tel_49'] = train1['tel_49'].apply(lambda x : convert_to_int(x))

In [44]:
train1.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1,tel_2,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,Caucasian,1,90,1,3,7,6,MC,InternalMedicine,61,0,8,0,0,0,780,276,789,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
1,AfricanAmerican,0,60,3,1,1,2,BC,Orthopedics,32,1,16,0,0,0,727,786,401,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
2,Caucasian,1,90,1,1,7,5,MC,Orthopedics,85,2,15,0,0,1,486,V45,585,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,1,1
3,Caucasian,0,80,3,1,1,3,MC,Orthopedics,24,2,24,0,0,0,715,250,272,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
4,Asian,0,90,2,3,5,2,MC,Emergency/Trauma,1,2,11,0,0,0,784,790,294,9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [45]:
# we will use BinaryEncoder from category_encoders library to do binary encoding
import category_encoders as ce
encoder = ce.BinaryEncoder(cols = ['race', 'tel_1', 'tel_2'])
df_binary = encoder.fit_transform(train1)
df_binary.head()

,race_0,race_1,race_2,race_3,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1_0,tel_1_1,tel_1_2,tel_1_3,tel_1_4,tel_2_0,tel_2_1,tel_2_2,tel_2_3,tel_2_4,tel_2_5,tel_2_6,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,0,0,0,1,1,90,1,3,7,6,0,0,0,0,1,0,0,0,0,0,0,1,61,0,8,0,0,0,780,276,789,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
1,0,0,1,0,0,60,3,1,1,2,0,0,0,1,0,0,0,0,0,0,1,0,32,1,16,0,0,0,727,786,401,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
2,0,0,0,1,1,90,1,1,7,5,0,0,0,0,1,0,0,0,0,0,1,0,85,2,15,0,0,1,486,V45,585,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,1,1
3,0,0,0,1,0,80,3,1,1,3,0,0,0,0,1,0,0,0,0,0,1,0,24,2,24,0,0,0,715,250,272,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
4,0,0,1,1,0,90,2,3,5,2,0,0,0,0,1,0,0,0,0,0,1,1,1,2,11,0,0,0,784,790,294,9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [46]:
# drop rows where values are objects
df_binary[((df_binary.tel_10 != 'V45') &( df_binary.tel_11 != 'V45'))]

,race_0,race_1,race_2,race_3,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,tel_1_0,tel_1_1,tel_1_2,tel_1_3,tel_1_4,tel_2_0,tel_2_1,tel_2_2,tel_2_3,tel_2_4,tel_2_5,tel_2_6,tel_3,tel_4,tel_5,tel_6,tel_7,tel_8,tel_9,tel_10,tel_11,tel_12,tel_15,tel_16,tel_17,tel_18,tel_19,tel_20,tel_21,tel_22,tel_23,tel_24,tel_25,tel_26,tel_27,tel_28,tel_29,tel_30,tel_41,tel_42,tel_43,tel_44,tel_45,tel_46,tel_47,tel_48,tel_49,diabetesMed
0,0,0,0,1,1,90,1,3,7,6,0,0,0,0,1,0,0,0,0,0,0,1,61,0,8,0,0,0,780,276,789,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
1,0,0,1,0,0,60,3,1,1,2,0,0,0,1,0,0,0,0,0,0,1,0,32,1,16,0,0,0,727,786,401,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
3,0,0,0,1,0,80,3,1,1,3,0,0,0,0,1,0,0,0,0,0,1,0,24,2,24,0,0,0,715,250,272,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
4,0,0,1,1,0,90,2,3,5,2,0,0,0,0,1,0,0,0,0,0,1,1,1,2,11,0,0,0,784,790,294,9,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,1,0,0,90,1,23,7,3,0,0,0,0,1,0,0,0,0,0,0,1,39,2,28,0,4,3,440,401,250,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,0,0,0,1,1,80,3,6,1,6,0,0,0,0,1,0,0,0,0,1,0,1,61,4,42,0,0,0,414,411,396,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1
14691,0,0,0,1,0,80,1,1,7,2,0,0,0,0,1,0,0,0,0,0,1,1,41,0,12,0,0,1,398,396,414,8,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1
14692,0,0,0,1,0,80,1,6,7,2,0,0,0,0,1,0,0,0,0,0,1,1,39,0,12,0,0,2,578,427,428,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
14693,0,0,0,1,0,90,1,3,7,4,0,0,0,0,1,0,0,0,0,0,1,1,44,1,12,0,0,0,482,496,428,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14694,0,0,1,0,1,40,1,1,7,2,0,1,0,0,0,0,0,0,0,0,1,1,60,0,11,0,0,0,250.02,276,305,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,1,0,1

In [47]:
df_binary.dtypes

race_0                       int64
race_1                       int64
race_2                       int64
race_3                       int64
gender                       int32
age                          int64
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
tel_1_0                      int64
tel_1_1                      int64
tel_1_2                      int64
tel_1_3                      int64
tel_1_4                      int64
tel_2_0                      int64
tel_2_1                      int64
tel_2_2                      int64
tel_2_3                      int64
tel_2_4                      int64
tel_2_5                      int64
tel_2_6                      int64
tel_3                        int64
tel_4                        int64
tel_5                        int64
tel_6                        int64
tel_7                        int64
tel_8                        int64
tel_9                       object
tel_10                      object
tel_11                      object
tel_12                       int64
tel_15                       int64
tel_16                       int64
tel_17                       int64
tel_18                       int64
tel_19                       int64
tel_20                       int64
tel_21                       int64
tel_22                       int64
tel_23                       int64
tel_24                       int64
tel_25                       int64
tel_26                       int64
tel_27                       int64
tel_28                       int64
tel_29                       int64
tel_30                       int64
tel_41                       int64
tel_42                       int64
tel_43                       int64
tel_44                       int64
tel_45                       int64
tel_46                       int64
tel_47                       int64
tel_48                       int64
tel_49                       int64
diabetesMed                  int64
dtype: object

In [48]:
df_binary = df_binary[pd.to_numeric(df_binary['tel_9'], errors='coerce').notnull()]
df_binary['tel_9'] = df_binary['tel_9'].astype('float')
df_binary['tel_9'] = df_binary['tel_9'].astype('int')
df_binary = df_binary[pd.to_numeric(df_binary['tel_10'], errors='coerce').notnull()]
df_binary['tel_10'] = df_binary['tel_10'].astype('float')
df_binary['tel_10'] = df_binary['tel_10'].astype('int')
df_binary = df_binary[pd.to_numeric(df_binary['tel_11'], errors='coerce').notnull()]
df_binary['tel_11'] = df_binary['tel_11'].astype('float')
df_binary['tel_11'] = df_binary['tel_11'].astype('int')

In [49]:
X = df_binary.iloc[:, :-1].values
y = df_binary.iloc[:, -1].values

In [50]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [51]:
import sklearn.ensemble as ek
from sklearn import tree
from sklearn import linear_model
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression

In [52]:
#Evaluating Performance on different types of models
model = { "RandomForest":ek.RandomForestClassifier(n_estimators=50),
        "DecisionTree":tree.DecisionTreeClassifier(max_depth=10),    
         "GradientBoosting":ek.GradientBoostingClassifier(n_estimators=50),
         "GNB":GaussianNB(),
         "LinearRegression":LinearRegression()   
}

In [53]:
results = {}
for algo in model:
    clf = model[algo]
    clf.fit(X_train,y_train)
    score = clf.score(X_test,y_test)
    print ("%s : %s " %(algo, score))
    results[algo] = score

RandomForest : 0.9984984984984985
DecisionTree : 0.9993993993993994
GradientBoosting : 0.9960960960960961
GNB : 1.0
LinearRegression : 0.2612143823882296